<p-menubar [model]="items" class="navbar">
  <ng-template pTemplate="start">
        <img
      src="assets/logo.png"
      alt="Logo"
      class="logo"
      routerLink="/home"
      style="cursor: pointer"
      height="50"
    />
  </ng-template>
<ng-template pTemplate="end">
  <div class="navbar-end-actions">
    <app-location-status-badge></app-location-status-badge>
    <button 
      pButton 
      icon="pi pi-sign-out" 
      class="p-button-text p-button-plain"
      (click)="sair()"
      pTooltip="Sair"
      tooltipPosition="bottom"
    >
    </button>
  </div>
</ng-template>
</p-menubar>