<p-card styleClass="mercado-card card-relative">

  <ng-template pTemplate="header">
    <div class="card-header">
      <img [src]="'assets/carrefour.png'" class="mercado-logo" />

      <div class="mercado-nome">{{ mercado.nome }}</div>

      <button pButton 
              icon="pi pi-pencil"
              class="edit-btn p-button-rounded p-button-text p-button-sm"
              (click)="editar(mercado.id)">
      </button>
    </div>
  </ng-template>

  <div class="mb-2 flex align-items-center gap-2 text-gray-700">
    <i class="pi pi-map-marker"></i>
    <a 
      [href]="googleMapsUrl"
      target="_blank"
      class="text-blue-600 hover:underline"
    >
      {{ mercado.endereco }}
    </a>
  </div>

  <div class="mb-2 flex align-items-center gap-2 text-gray-700">
    <i class="pi pi-phone"></i>
    <span>{{ mercado.telefone }}</span>
  </div>

</p-card>
