.loader-overlay {
  position: fixed;
  inset: 0; 
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.p-progress-spinner-circle {
  stroke: #00b359 !important;
}
