<div class="login-container">

    <div class="background-overlay"></div>

    <div class="login-card">

        <div class="logo-area">
            <img src="assets/logo.png" alt="MercadoBox" class="logo" />
            <h2>MercadoBox</h2>
            <p class="subtitle">Seu carrinho inteligente</p>
        </div>

        <p-message *ngIf="erroLogin" severity="error" [text]="erroLogin" style="margin-bottom: 1rem;">
        </p-message>

        <form [formGroup]="form">

            <div class="form-area">

                <input type="email" formControlName="email" pInputText class="input" placeholder="Digite seu e-mail" />

                <input type="password" formControlName="password" pInputText class="input"
                    placeholder="Digite sua senha" />

                <button type="button" pButton label="Entrar" class="btn-login" (click)="logar()">
                </button>
                <div class="register-area">
                    <span>Não tem conta?</span>
                    <a [routerLink]="['/cadastro']" class="register-link">Cadastre-se</a>
                </div>

                <a class="forgot-link">Esqueci minha senha</a>
            </div>
        </form>
    </div>
</div>