<div class="home-container p-4">
  <h2 class="mb-3 text-green-700">Minhas Compras</h2>

  <p-table [value]="compras" responsiveLayout="scroll" class="custom-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Data</th>
        <th>Itens</th>
        <th>Valor</th> 
        <th>
          Com Desconto
        </th>     
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-compra>
      <tr>       
        <td>{{ compra.data | date:'dd/MM/yyyy' }}</td>
        <td>{{compra.itens.length }}</td>
        <td>{{ compra.totalSemDesconto | currency:'BRL' }}</td>      
        <td>{{compra.totalComDesconto | currency:'BRL'}}</td>  
        <td>
          <button pButton 
                  icon="pi pi-search" 
                  label="Detalhes" 
                  class="p-button-rounded p-button-sm p-button-success"                  
                  (click)="verDetalhes(compra.guid)"
                  >
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div>
<div *ngIf="scannedResult" class="result">
  <p><strong>Resultado:</strong> {{ scannedResult }}</p>
</div>

   <div class="scanner-container">
  <zxing-scanner
    [formats]="allowedFormats"
    (camerasFound)="onCamerasFound($event)"
    (scanSuccess)="onScanSuccess($event)"

    [autostart]="true"
    [tryHarder]="true"
    [videoConstraints]="{ width: { ideal: 1280 }, height: { ideal: 720 } }"

    (permissionResponse)="onPermissionResponse($event)">
  </zxing-scanner>
</div>
</div>