<div class="hero-section">
  <div class="overlay">
    <img src="assets/logo.png" alt="Logo" class="logo" style="margin: 0px;" />
    
    <div class="home-location-bar">
      <app-location-status-badge></app-location-status-badge>
    </div>

    <div class="menu-cards">
      <p-card *ngFor="let menu of menus" class="menu-card" (click)="navegar(menu.rota)">
        <div class="menu-content">
          <i [class]="menu.icone"></i>
          <span class="menu-title">{{ menu.nome }}</span>
          <p class="menu-description">
            {{ menu.descricao }}
          </p>
        </div>
      </p-card>
    </div>
  </div>
</div>