<div class="container p-4">
  <app-panel [titulo]="'Compras'" [descricao]="'Gerencie suas compras'" [rota]="'/compras/novo'"
    [btnDescricao]="'Compra'" [modal]="false">=
  </app-panel>

  <div class="flex justify-content-end mb-3">
    <button pButton icon="pi pi-filter-slash" label="Filtro" class="p-button-link btn-filtro" (click)="sidebarVisible = true">
    </button>
  </div>

  <p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="sidebar-filtros" [baseZIndex]="10000">

    <h3 class="mb-4">Filtre suas Compras</h3>

    <form [formGroup]="form">

      <div class="filtros grid">

        <div class="col-12 md:col-3 filtro-item">
          <div class="filtro-header">
            <i class="pi pi-shopping-cart mr-2 text-primary"></i>
            <label>Mercado</label>
          </div>
          <p-dropdown class="dropdown-sem-seta" [options]="mercados" optionLabel="nome" optionValue="id" formControlName="mercadoId"
            optionLabel="nome" optionValue="id" placeholder="Selecione" inputClass="input-padrao"
            [showClear]="true"></p-dropdown>
        </div>

        <div class="col-12 md:col-3 filtro-item">
          <div class="filtro-header">
            <i class="pi pi-calendar mr-2 text-primary"></i>
            <label>De :</label>
          </div>
          <p-calendar formControlName="dataDe" dateFormat="dd/mm/yy" inputClass="input-padrao"
            appendTo="body"></p-calendar>
        </div>

        <div class="col-12 md:col-3 filtro-item">
          <div class="filtro-header">
            <i class="pi pi-calendar mr-2 text-primary"></i>
            <label>Até :</label>
          </div>
          <p-calendar formControlName="dataAte" dateFormat="dd/mm/yy" inputClass="input-padrao"
            appendTo="body"></p-calendar>
        </div>

        <div class="col-12 md:col-3 botoes">
          <button pButton icon="pi pi-search" class="p-button-success" (click)="obterCompras()"></button>
          <!-- <button pButton icon="pi pi-times" class="p-button-danger" (click)="limpar()"></button> -->
        </div>

      </div>
    </form>
  </p-sidebar>

  <p-divider />
  <app-compra-card [compras]="compras" ></app-compra-card>
</div>

<div class="paginator-fixed">
  <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" [pageLinkSize]="2"
    [rowsPerPageOptions]="[5, 10, 15]" [showFirstLastIcon]="false" (onPageChange)="onPageChange($event)">
  </p-paginator>
</div>