.titulo-container {
  padding: 0.5rem;
}

.titulo-principal {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #098b3b;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.subtitulo {
  margin: 0;
  color: #555;
  font-size: 1rem;
}
