<div class="container p-4">
  <app-panel 
  [titulo]="'Produtos'" 
  [descricao]="'Gerencie seus produtos por aqui'" 
  [rota]="'/produtos/novo'" 
  [btnDescricao]="'Produto'"
  [modal]="false"
  >=
  </app-panel>

  <p-divider />

  <div class="grid">
    <div class="col-12 md:col-6 lg:col-4" *ngFor="let produto of produtos">
      <p-card styleClass="mercado-card">
        <div class="flex align-items-center gap-3 mb-3">
          <i class="pi pi-circle-on" style="font-size: 2rem; color: #4caf50;"></i>
          <div>
            <div class="font-semibold text-lg">{{ produto.nome }}</div>
            <span class="badge-compra">{{ produto.categoria }}</span>
          </div>
        </div>
        <div class="mb-2 flex align-items-center gap-2 text-gray-700">
          <i class="pi pi-barcode"></i>
          <span>{{produto.codigo}}</span>
        </div>
        <div class="text-gray-600 text-sm mb-1">{{produto.descricao}}</div>
      </p-card>
    </div>
  </div>
</div>