<div class="container p-4">
  <app-panel [titulo]="'Produtos'" [descricao]="'Gerencie seus produtos'" [rota]="'/produtos/novo'"
    [btnDescricao]="'Produto'" [modal]="false">
  </app-panel>

  <div class="search-row  gap-2 mb-3 mt-3">
    <form [formGroup]="form" class="search-form">
      <input type="text" pInputText placeholder="Pesquisar produtos..." class="search-input"
        formControlName="pesquisa" />
    </form>
    <button pButton type="button" icon="pi pi-search" (click)="consultar()" class="p-button-success"
      pTooltip="Pesquisar" tooltipPosition="top"></button>
    <button pButton type="button" icon="pi pi-camera" (click)="openScanner()"></button>
    <button pButton icon="pi pi-times"class="p-button-danger" (click)="limparPesquisa()">
    </button>

  </div>

  <p-divider />

  <div class="grid">
    <div class="col-12 md:col-6 lg:col-4" *ngFor="let produto of produtos">
      <app-produtos-card [produto]="produto" (abrirCodigo)="abrirModalCodigo($event)"></app-produtos-card>
    </div>
  </div>

  <p-dialog [(visible)]="modalCodigo" header="Codigo de Barras">
    <app-barcode-ean13 [codigo]="codigoSelecionado"></app-barcode-ean13>
  </p-dialog>

</div>
<div class="paginator-fixed">
  <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" [pageLinkSize]="2"
    [rowsPerPageOptions]="[5, 10, 15]" [showFirstLastIcon]="false" (onPageChange)="onPageChange($event)"></p-paginator>
</div>


<app-barcode-scanner *ngIf="showScanner" (scanned)="onBarcodeScanned($event)" (close)="closeScanner()">
</app-barcode-scanner>